<nav class="navbar navbar-default navbar-fixed-top sp-navbar-blue">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="../../../index.html">Home</a>
        </div>

    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-md-4 col-md-offset-4">
                    <h1>Login</h1>
                </div>
            </div>
            <div  ng-show="model.message" class="row">
                <div class="col-xs-12 col-md-4 col-md-offset-4">
                    <h3 class="alert alert-info">{{model.message}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-4 col-md-offset-4">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input ng-model="username" autofocus type="text" class="form-control" name="username" id="username"
                               placeholder="username">
                    </div>
                </div>
            </div>

            <div class="row">
                <div
                     class="col-xs-12 col-md-4 col-md-offset-4">
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input ng-model="password" type="password" class="form-control" name="password" id="password"
                               placeholder="password">
                    </div>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-xs-12 col-md-4 col-md-offset-4">
                    <a ng-click="model.login(username,password)" class="btn btn-primary btn-block" role="button">Login</a>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-4 col-md-offset-4">
                    <a class="btn btn-success btn-block" href="#!/register" role="button">Register</a>
                </div>
            </div>
        </div>
    </div>
</div>