<nav class="navbar navbar-default navbar-fixed-top sp-navbar-blue">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->

        <p class="navbar-text pull-left">
            <a href="#!/user/{{model.uid}}"><span class="glyphicon glyphicon-chevron-left pull-left sp-icon-white"></span></a>
        </p>

        <div class="navbar-brand">Websites</div>

        <!--<p class="navbar-text pull-right">-->
            <!--<a href="website-new.view.client.html"><span class="glyphicon glyphicon-plus pull-right sp-icon-white"></span></a>-->
        <!--</p>-->


    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <div ng-show="model.successMessage" class="alert alert-success">{{model.successMessage}}</div>
                    <ul class="list-group">
                        <li class="list-group-item active">Websites
                            <a class="sp-website-add" role="button" href="#!/user/{{model.uid}}/website/new"><span class="pull-right glyphicon glyphicon-plus"></span></a></li>
                        <ul class="list-group">
                            <li ng-repeat="website in model.websites" class="list-group-item"><a href="#!/user/{{model.uid}}/website/{{website._id}}/page">{{website.name}}</a>
                            <a href="#!/user/{{model.uid}}/website/{{website._id}}"><span class="pull-right glyphicon glyphicon-cog"></span></a></li>
                        </ul>
                        <!--<li class="list-group-item"><a href="../../page/page-list.view.client.html">Facebook</a>-->
                            <!--<a href="website-edit.view.client.html"><span class="pull-right glyphicon glyphicon-cog"></span></a></li>-->
                        <!--<li class="list-group-item"><a href="../../page/page-list.view.client.html">Amazon</a>-->
                            <!--<a href="website-edit.view.client.html"><span class="pull-right glyphicon glyphicon-cog"></span></a></li>-->
                        <!--<li class="list-group-item"><a href="../../page/page-list.view.client.html">Wikipedia</a>-->
                            <!--<a href="website-edit.view.client.html"><span class="pull-right glyphicon glyphicon-cog"></span></a></li>-->
                        <!--<li class="list-group-item"><a href="../../page/page-list.view.client.html">NEU</a>-->
                            <!--<a href="website-edit.view.client.html"><span class="pull-right glyphicon glyphicon-cog"></span></a></li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom sp-navbar-blue">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->


        <p class="navbar-text pull-right">
            <a href="#!/user/{{model.uid}}"><span class="glyphicon glyphicon-user pull-right sp-icon-white"></span></a>
        </p>


    </div><!-- /.container-fluid -->
</nav><!-- /.container-fluid -->
