><nav class="navbar navbar-default navbar-fixed-top sp-navbar-blue">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->

        <p class="navbar-text pull-left">
            <a href="#!/user/{{model.uid}}/website/"><span class="glyphicon glyphicon-chevron-left pull-left sp-icon-white"></span></a>
        </p>

        <div class="navbar-brand">Pages</div>

        <!--<p class="navbar-text pull-right">-->
        <!--<a href="page-new.view.client.html"><span class="glyphicon glyphicon-plus pull-right sp-icon-white"></span></a>-->
        <!--</p>-->


    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <ul class="list-group">
                        <li class="list-group-item active">Page Name
                            <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/new"><span class="glyphicon glyphicon-plus sp-icon-white pull-right"></span></a></li>
                        <li class="list-group-item" ng-repeat="page in model.pages">
                            <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{page._id}}/widget">{{page.name}}</a>
                            <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{page._id}}"><span class="glyphicon glyphicon-cog pull-right"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom sp-navbar-blue">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->


        <p class="navbar-text pull-right">
            <a href="#!/user/{{model.uid}}"><span class="glyphicon glyphicon-user pull-right sp-icon-white"></span></a>
        </p>


    </div><!-- /.container-fluid -->
</nav><!-- /.container-fluid -->
